<html>
<head>
  <link rel="stylesheet" type="text/css" href="/site_media/css/python_hol.css">
</head>
<body>
<div id="content">
<input type="button" value="Refresh!!!!" id="refresh" />
<a href="/employees/create" class="addlink">Add New Employee</a>
{% if object_list %}
  <table id="gcm_list" frame="hsides" rules="cols" style="border-width: 5px">
    <tr>
      <th>GCM id</th>
      <th>NAR id</th>
      <th>Urgency</th>
      <th>Implementer Group</th>
      <th>Approver Group</th>
      <th>CI List</th>
      <th>Action</th>
      <th>Flag</th>
    </tr>
  {% for tools in object_list %}
    <tr>
      <td>{{ tools.gcmid }}</td>
      <td>{{ tools.narid }}</td>
      <td>{{ tools.urgency }}</td>
      <td>{{ tools.implementer_group }}</td>
      <td>{{ tools.approver_group }}</td>
      <td>{{ tools.ci_list }}</td>
      <td>{{ tools.action }}</td>
      <td>{{ tools.flag }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>No employees found.</p>
{% endif %}
</div>
</body>
</html>
